 #activate-game{
  text-align: center;
  margin: 2rem 0 5rem 0;
 }

 #game-over{
  max-width: 40rem;
  margin: auto;
  padding: 1rem 3rem;
  background-color: var(--symbols-color-main);
  color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

}

 #game-over h2{
  margin: 0.5rem 0;
  font-size: 2.5rem;
  font-weight: bold;
 }

 #active-player-name{
  color: var(--main-heading-color);
  font-weight: bold;
 }


 #game-board{
  padding: 0;
  margin: 1rem auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 1rem;
  justify-content: center;
 }

 #game-board li{
  background-color: var(--card-player-bg-color);
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  align-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in;
  text-transform: uppercase ;
  color: #fff;
 }

 #game-board li:hover{
  background-color: var(--bg-regular-darker-color);
 }
 #game-board li.disabled{
  background-color: var(--bg-regular-darker-color);
  cursor: default;
 }