:root{
  --main-heading-color: #440686;
  --symbols-color-main: rgb(47,4,82);
  --card-player-bg-color: rgb(240,220,255);
  --bg-main-color: rgb(247, 239, 247);
  --bg-main-darker-color: rgb(226, 218, 226);
  --bg-regular-color: rgb(140, 0, 255);
  --bg-regular-darker-color: rgb(125, 5, 223);
  --bg-regular-lighter-color: rgb(159, 47, 250);
  --light-border: #ccc;
  --input-error-color: rgb(99, 19, 19);
  --input-error-bg-color: rgb(248, 150, 150);
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
  color: rgb(44, 41, 44);
  background-color: var(--bg-main-color);
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  transition: background-color 5000s;
}

#main-header{
  background: linear-gradient(to right, var(--bg-regular-lighter-color),
    var(--bg-regular-color) 30% 70%,
    var(--bg-regular-lighter-color)
    );
  color: white;
  padding: 2rem 5%;
  text-align: center;
}

.btn{
  text-decoration: none;
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: var(--bg-regular-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}


.btn:hover{
  background-color: var(--bg-regular-darker-color);
}

.btn-alt{
  background-color: transparent;
  color: var(--bg-regular-color);

}

.btn-alt:hover{
  background-color: var(--bg-main-darker-color);
}

.hidden{
  display: none;
}